

.customerDetails{
    padding: 70px;
    width: 300px;
display: flex;
flex-direction: column;
align-items: end;

}

label{
    width: 100px;
    text-align: end;
}

input{
    width: 240px;
    height:20px;
    margin-left: 5px;
}

.elements{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.buttoncustomer{
    width: 207px;
    height:25px;
     margin-top: 15px;
     position: relative;
    background-color: blue;
    font-weight: 800;
    border: none;
    cursor: pointer;
}